
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 11% 8%;
    --foreground: 0 0% 98%;
    --card: 36 11% 6%;
    --card-foreground: 0 0% 98%;
    --popover: 36 11% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 46 80% 50%;
    --primary-foreground: 36 11% 8%;
    --secondary: 36 11% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 36 11% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 46 80% 50%;
    --accent-foreground: 36 11% 8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 36 11% 18%;
    --input: 36 11% 18%;
    --ring: 46 80% 50%;
    --radius: 0.25rem;
    --sidebar-background: 36 11% 4%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 46 80% 50%;
    --sidebar-primary-foreground: 36 11% 8%;
    --sidebar-accent: 36 11% 12%;
    --sidebar-accent-foreground: 46 80% 50%;
    --sidebar-border: 36 11% 12%;
    --sidebar-ring: 46 80% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
